src/main/mule/test-jenkins-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bb489757-9e07-4d67-bbd1-31b998ef5411" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-jenkins-projectFlow" doc:id="30076aaa-8376-4351-9372-1f60f6df93a9" >
		<http:listener doc:name="Listener" doc:id="1cb46f6c-7512-4689-8e25-b7762e31ffb4" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#[output application/json
---
{
	source: "Mule",
	name: "Mule Jenkins app",
	branch: "Develop",
	attempts: "3"
}]' doc:name="Set Payload" doc:id="86204f1e-fb63-45e6-b7ae-170ca7aefca1" />
		<logger level="INFO" doc:name="Logger" doc:id="20a22faf-bca1-44df-93bb-b15d770568f6" message="#[payload]"/>
	</flow>
</mule>
